<div class="container">


  <div class="jumbotron">
    <h1>Quantify</h1>
    <p>
      Tenha acesso as suas despesas em qualquer lugar, organize e facilite a sua vida com o Quantify!
    </p>
    <p>
      <%= link_to 'Crie Sua Conta', new_user_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
